<div class="student-detail-container row">
  <div class="student-detail-navs col-sm-3">
    <div>FR</div>
    <div>Florece Ann Robles</div>
    <div>quiles.floreceann@gmail.com</div>
    <div>
      <a href="">Basic Info</a>
      <a href="">Languages</a>
      <a href="">Demographic Info</a>
      <a href="">Experience</a>
      <a href="">Education</a>
      <a href="">Documents</a>
      <a href="">Agreements</a>
    </div>
  </div>
  <div class="student-detail-content col-sm-9">
    <h2>Basic Information</h2>
  </div>
</div>
