<div class="header" *ngIf="headerVisible">
  <div class="header__leftnav">
    <span class="header__brand">Worker Resource</span>
    <ng-container *ngFor="let item of mainNavItems">
      <div class="header__navs">
        <div class="header__nav-item" [class.active]="item.active" (click)="navigateTo(item)"><span>{{ item.name }}</span></div>
      </div>
    </ng-container>
  </div>
  <div>
    <p-menubar [model]="items">
      <ng-template pTemplate="end">
      </ng-template>
    </p-menubar>
  </div>
</div>


