.company-add-button {
  text-align: right;
  button {
    border-color: #4DA5CB;
    background-color: #4DA5CB;
    cursor: pointer;

    &:hover,
    &:active {
      background-color: #007EB4;
      border-color: #007EB4;
    }
  }
}

.student-detail-container_delete,
.student-detail-container_add,
.student-detail-container__submit-primary {
  border-color: #4DA5CB;
  background-color: #4DA5CB;
  cursor: pointer;

  &:hover,
  &:active {
    background-color: #007EB4;
    border-color: #007EB4;
  }
}


.table-header {
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
}

/deep/ .p-button.p-button-icon-only {
  width: 24px;
  height: 24px;
}
