<div class="container">
  <div class="row company-add-button mb-3">
    <div class="form-floating">
      <button class="w-30 btn btn-sm btn-primary student-detail-container_add" type="submit" (click)="addCompany()" *ngIf="showAddCompanyButton">
        <span>Add Company</span>
      </button>
    </div>
  </div>

  <div class="card">
    <p-table #dt2 [value]="companies" dataKey="id"
        [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading"
        [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="['name','email','contact_number', 'created_at', 'status']">
        <ng-template pTemplate="caption">
            <div class="flex">
                <span>
                  {{ companyHeader }}
                </span>
                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt2.filterGlobal(getSearchInputValue($event), 'contains')" placeholder="Search keyword" class="p-inputtext p-component p-element"/>
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th scope="col" pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
            <th scope="col" pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
            <th scope="col" pSortableColumn="contact_number">Contact Number <p-sortIcon field="contact_number"></p-sortIcon></th>
            <th scope="col" pSortableColumn="created_at">Date Created <p-sortIcon field="created_at"></p-sortIcon></th>
            <th scope="col" pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon></th>
          </tr>
            <tr>
                <th>
                    <p-columnFilter type="text" field="name"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="email"></p-columnFilter>
                </th>
                <th>
                  <p-columnFilter type="text" field="contact_number"></p-columnFilter>
                </th>
                <th>
                  <p-columnFilter type="text" field="created_at"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter field="status" matchMode="equals" [showMenu]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-dropdown [ngModel]="value" [options]="statuses" (onChange)="filter($event.value)" placeholder="Any" [showClear]="true">
                                <ng-template let-option pTemplate="item">
                                    <span [class]="'customer-badge status-' + option.value">{{option.label}}</span>
                                </ng-template>
                            </p-dropdown>
                        </ng-template>
                    </p-columnFilter>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-company>
            <tr (click)="viewCompany(company)">
              <td>
                {{ company.name }}
              </td>
              <td>
                <span class="image-text">{{ company.email }}</span>
              </td>
              <td>
                <span class="image-text">{{ company.contact_number }}</span>
              </td>
              <td>
                <span class="image-text">{{ company.created_at | date:'longDate' }}</span>
              </td>
              <td>
                <span [class]="'customer-badge status-' + CompanyStatus[company.status].toLocaleLowerCase()">{{ CompanyStatus[company.status] }}</span>
              </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5">No companies found.</td>
            </tr>
        </ng-template>
    </p-table>
  </div>
</div>
